p {color: aquamarine;}

#Recipe_Block_Holder {background-color: aqua;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;}

.Recipe_Block {background-color: brown;
width: 20vw;
height: 200px;
margin-left: 5vw;
margin-right: 5vw;
margin-bottom: 50px;}